body{
    margin: 0;
    padding: 0;
    font-family: Open Sans;
    
  
}


.container-about{
    width: 1920px;
    height: auto;
    margin: 0 auto;
    background-color: #FFE69F;

}
.container-background{
    background-image: url(/arquivos/background-yellow.png);
    background-repeat: no-repeat;
    width: 1920px;
    height: 1150px;



}
.container-background .separador{
    width: 1920px;
   z-index: 5000;
   position: absolute;
}
.header-about{
    background-image: url(/arquivos/header-1.png);
    background-repeat: no-repeat;
    height: 750px;
    display: flex;
    flex-direction: column;



   

}


 .frutas-mobile{
    display: none;
}
.title-about{
   width: 80%;
   height: auto;
   margin-left: 12%;
   margin-top: 70px;

 

  
}
.title-about span{
    background-color: yellow;
    color:#000;
 
}
.logo-about{
    margin-top: 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding-left: 250px;
    
}
.logo-organic img{
    width: 200px;
    padding-right: 50px;
}
.logo-biodiversity img{
    width: 200px;
    padding-right: 50px;
}
.logo-naturanic img{
    width: 250px;
    padding-bottom: 100px;
    padding-top: 90px;
   
}
.content-title{
   margin-top: 20px;
   width: 50%;
   height: auto;
   margin-left: 12%;
   order: 1;
   padding: 0;
   

}

.content-banner{
    order: 2;
}
.content-title strong{
    font-size: 1.5rem;
}
.content-title p{
    font-size: 20px;
}
.content{
    display: flex;
    flex-direction: row;
}
.content-footer{
    background-image: url(./Craft.jpg);
    background-repeat: no-repeat;
    width: 1920px;
    height: auto;
    
}
.content-footer .title img{
    margin-top: 40px;
    margin-left: 250px;
}

.content-footer .text-footer{
    padding-left: 250px;
}
.content-footer .text-footer p{
    width: 40%;
    font-size: 20px;
} 


@media only screen and (min-width:320px) and (max-width:414px){
 
   
    .container-about{
        width: 100%;
        height: auto;
        margin: 0 auto;
        background-color: #FFE69F;
    }
    
    .container-background{
        background-image: url(/arquivos/background-yellow.png);
        background-repeat: no-repeat;
        width: 100%;
        height: auto;
    }
    .container-background .separador{
        width: 100%;
    }
     .header-about{
       width: 100%;
       height: auto;
       background-image: url(/arquivos/Terra-mobile.png);
       background-repeat: no-repeat;
     }
      .frutas-mobile{
        display: flex;
        flex-direction: row;
        width: 150px;
        right: auto;
        order: 2;
      
    }

     .logo-about{
        margin-top: 50px;
        order: 5;
        padding-left: 0px;
     

      
    }
    .logo-organic img{
        padding-right: 0px;
    }
  
    .logo-biodiversity img{
        padding-right: 0px;
    }
 
    .logo-naturanic img{
        padding-top: 0px;
       
    }
    .content-title{
         order: 2;
         margin-top: 70px;
         width: 85%;
         margin-left: 20px;
    }
    .content-title strong{
        font-size: 1rem;
    }
   
    .logo-about img{
        width: 85px;
        padding: 0;
        margin: 9px;

    }
    .img-title{
        display: flex;
        justify-content:space-between;
    }
    .title-about{
        margin-top: 40px;
        width: 150px;
        margin-left: 10px;
  
    }
    .title-about img{
        width: 120px;
     
    }
    .content{
        width: 100%;
       display: flex;
       flex-direction: column;
       

     }
   
 
    
    .content-title br{
        display: none;
    }
    .content-title p{
        font-size: 16px;
    }
     .content-banner{
         order: 20;
     }
     .content-banner img{
         width: 320px;
     }
     .container-background .separador{
         width: 320px;
     }
     .separador-footer{
        display: none;
     }
     .separador-footer-mobile{
         display: block;
         z-index: 5000;
         position: absolute;
         width: 320px;
         margin-top: 790px;
    
     }
     .content-footer{
         width: 100%;
         height: auto;
         padding-top: 50px;
         
     
     }
    
     .content-footer .title img{
      
         margin-left: 20px;
         width: 85%;
         margin-top: 10px;
     }
     .content-footer .text-footer{
         padding-left: 35px;
         height: auto;
     
     }
     .content-footer .text-footer p{ 
         width: 100%;
     }
     .content-footer .text-footer p{
        width: 85%;
        font-size: 16px;
    } 


}

@media only screen and (min-width: 414px) and (max-width:640px){
    .container-about{
        width: 100%;
        height: auto;
        margin: 0 auto;
        background-color: #FFE69F;
    }
    
    .container-background{
        background-image: url(/arquivos/background-yellow.png);
        background-repeat: no-repeat;
        width: 100%;
        height: auto;
    }
    .container-background .separador{
        width: 100%;
    }
     .header-about{
       width: 100%;
       height: auto;
       background-image: url(/arquivos/Terra-mobile.png);
       background-repeat: no-repeat;
     }
      .frutas-mobile{
        display: flex;
        flex-direction: row;
        width: 150px;
        right: auto;
        order: 2;
      
    }

     .logo-about{
        margin-top: 50px;
        order: 5;
        padding-left: 40px;
     

      
    }
    .logo-organic img{
        padding-right: 0px;
    }
  
    .logo-biodiversity img{
        padding-right: 0px;
    }
 
    .logo-naturanic img{
        padding-top: 0px;
       
    }
    .content-title{
         order: 2;
         margin-top: 70px;
         width: 85%;
         margin-left: 20px;
    }
    .content-title strong{
        font-size: 1rem;
    }
   
    .logo-about img{
        width: 85px;
        padding: 0;
        margin: 9px;

    }
    .img-title{
        display: flex;
        justify-content:space-between;
    }
    .title-about{
        margin-top: 40px;
        width: 150px;
        margin-left: 10px;
  
    }
    .title-about img{
        width: 120px;
     
    }
    .content{
        width: 100%;
       display: flex;
       flex-direction: column;
       

     }
     .separador-yellow-mobile{
        display: block;
        margin-top: 0px;
        z-index: 7000;
        position: absolute;
        width: 100%;
    }
     .separador{
        width: 640px;
     }
     .separador-mobile-top{
        display: block;
        position: absolute;
        z-index: 5000;
        width: 100%;
 
       
     

    }
 
    
    .content-title br{
        display: none;
    }
    .content-title p{
        font-size: 16px;
    }
     .content-banner{
         order: 20;
     }
     .content-banner img{
         width: 100%;
     }
     .container-background .separador{
         width: 320px;
     }
     .separador-footer{
        display: none;
     }
     .separador-footer-mobile{
         display: block;
         z-index: 5000;
         position: absolute;
         width: 320px;
         margin-top: 790px;
    
     }
     .content-footer{
         width: 100%;
         height: auto;
         padding-top: 50px;
         
     
     }
    
     .content-footer .title img{
      
         margin-left: 20px;
         width: 85%;
         margin-top: 10px;
     }
     .content-footer .text-footer{
         padding-left: 35px;
         height: auto;
     
     }
     .content-footer .text-footer p{ 
         width: 100%;
     }
     .content-footer .text-footer p{
        width: 85%;
        font-size: 16px;
    } 


}


